
<section class="container-fluid">
    <div class="row row1">
        <div class="col-md-6 col-lg-5 d-flex justify-content-around pe-3 ">
            <div class="otherImg w-25 h-75 m-auto">
                <!-- <img class="w-50 h-25 d-block p-1"  src="" alt="Another Image"> -->
                <!-- <img class="w-50 h-25 d-block p-1" src="" alt="Another Image"> -->
            </div>
            <div class="mainImg w-75 h-75 m-auto">
                <img class="w-75  h-100" src="{{product.image}}" alt="main image">
            </div>
        </div>


        <!-- ^Brand info -->
        <div class="col-lg-4 col-md-6 col-sm-10 p-2 m-sm-auto info">
            <h3 class="bName">Brand:  </h3>
            <p class="">Washing Machine With Hygiene Steam, Digital Inverter Technology 8 kg 1200 RPM - Inox - WW80T4020CX1AS Silver</p>
            <div class="rate d-flex justify-content-between">
                <h6 class="">4.5 
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star-half-stroke" style="color: #FFD43B;"></i>
                    <i class="ps-1 fa-solid fa-angle-down fa-xl" style="color: #000000;"></i>
                </h6>
                <a href="" class="rateN">73 Rating</a>
                <span class="text-muted pip">|</span>
                <a href="" class="sPage">Search This Page</a>
            </div>
            <div class="line"></div>
            <h3 class="pt-3"><sup>SAR</sup>{{product.price}}<sup>14</sup></h3>
            <p>All Price Include VAT.</p>
            <p>
                <span class="text-muted">sign in to redeem  </span>
                <span class="bg-success-subtle"> Extra 20%</span>
                of with meem credit cards.  
            </p>
            <p>Enter Code MEEMS20 at checkout. Discount By Amazon.</p>
            <div class="row shiping">
                <div class="col-3 w text-center">
                    <div class="icon  w-50 m-auto">
                        <i class="fa-brands fa-cc-visa fa-lg" style="color: #313131;"></i>
                    </div>
                    <p>Electronic Payment Only</p>
                </div>
                <div class="col-3 w text-center">
                    <div class="icon  w-50 m-auto">
                        <i class="fa-solid fa-rotate-left fa-lg" style="color: #313131;"></i>
                    </div>
                    <p>30 Days Returnable</p>
                </div>
                <div class="col-3 w text-center">
                    <div class="icon  w-50 m-auto">
                        <i class="fa-solid fa-lock fa-lg" style="color: #313131;"></i>
                    </div>
                    <p>Elecronic Payment Only</p>
                </div>
                
            </div>
            <div class="line"></div>
            <h4 class="pt-2">About this item</h4>
            <ul class="pe-1">
                <li>Feature: square neck, cutout, puff sleeve, ruffle hem, tie back aline dress</li>
                <li>Fabric has some stretch,and it's soft and comfortable</li>
                <li>Suitable for daily wear, holidays, dating, vacation, weekend casual</li>
                <li>Care Instructions: Machine wash or professional dry clean</li>
            </ul>
        </div> 
        <!-- ^Brand info -->


        <!-- &paying -->
        <div class="col-md-6 col-lg-3 col-sm-8 pay">
            <div class="paying ms-3 p-3">
                <h3 class="pt-3"><sup>SAR</sup>3131<sup>14</sup></h3>
                <p class="mb-1">SAR90 delivery <b>5-11 Feb.</b> </p>
                <p class="mb-1 castumColor">Details</p>
                <i class="fa-solid fa-location-dot fa-lg" style="color: #373650;"></i>
                <span class="ps-1"> Delivery to Riyadh</span>
                <p class="ps-4"> Update Location</p>
                <h6 class="daysShip">Usually ships within 4 to 5 days</h6>
                <select class="w-100 mt-2 mb-2" name="quantity" id="quantity">
                    <option value="">Quantity: 1</option>
                    <option value="">Quantity: 2</option>
                    <option value="">Quantity: 3</option>
                    <option value="">Quantity: 4</option>
                </select>
                <button class="btn btn1" type="button">Add to Cart</button>
                <button class="btn btn2" type="button">Buy Now</button>
                <div class="shipDetails d-flex justify-content-md-between ps-2 pt-1">
                    <div class="mainData text-muted">
                        <p>Ships From</p>
                        <p>Sold By</p>
                        <p>Payment</p>
                    </div>
                    <div class="info ">
                        <p class="text-muted">Monatik LLC</p>
                        <p class="castumColor">Monatik LLC</p>
                        <p class="castumColor">Secure transaction</p>
                    </div> 
                </div>
                <div class="line"></div>
                <button type="button" class="btn w-100 border-1 border border-black mt-3 text-start rounded-4" >Add to List</button>
            </div>
        </div>
        <!-- &paying -->

    </div>
</section>


    <!-- ^Review -->
    <div class="line"></div>

    <section class="review row pt-4 m-auto ">
        <div class="col-md-4 col-sm-6">
            <h4>Costumer Reviews</h4>
            <div class="starRate">
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                <span> 4.1 out of 5</span>
            </div>
            <p class="pt-2 text-muted">1 Global Rate</p>
            <div class="stars">
                <h6>
                    5 Star 
                    <div class="starRate p-1"></div>
                    0%
                </h6>
                <h6>
                    4 Star 
                    <div class="starRate starRate4 p-1 "></div>
                    70%
                </h6>
                <h6>
                    3 Star 
                    <div class="starRate p-1"></div>
                    0%
                </h6>
                <h6 >
                    2 Star 
                    <div class="starRate p-1 starRate2"></div>
                    20%
                </h6>
                <h6 >
                    1 Star 
                    <div class="starRate p-1"></div>
                    0%
                </h6>
            </div>
            
        </div>

        <div class="col-sm-6 col-md-7 customerReview">
            <div class="costumer1">
                <div class="profileImg ">
                    <img class="rounded-circle d-inline-block" src="../../../assets/images/customer2.jpeg" alt="">
                    <h5>Carla</h5>
                </div>
                <div class="cutomerRate pt-3">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                    <h4 class="d-inline-block ms-3">Favorite dress</h4>
                </div>
                <p>Reviewed in the United States on 6 August 2024</p>
                <div class="text-muted pb-2">
                    <span class="border-end border-2 border-dark-subtle pe-3">Size: 40</span>
                    <span class="border-end border-2 border-dark-subtle pe-3 ps-3">Color: Black</span>
                    <span class="ps-3 purchase">Verified Purchase</span>
                </div>
                <p>I initially purchased this dress on sale. It turned out to be my favorite dress of this summer. 
                    It is extremely versatile and unexpectedly flattering. When I accidentally tore it, 
                    I was really upset. My husband told me to buy it again, which I typically wouldn't do. 
                    It wasn't on sale and I am so frugal. The dress washes very well and I 
                    always get compliments when I wear it.</p>
                    <p class="text-muted">Report</p>
            </div>

            <div class="costumer2">
                <div class="profileImg ">
                    <img class="rounded-circle d-inline-block" src="../../../assets/images/customer1.jpeg" alt="">
                    <h5>David</h5>
                </div>
                <div class="cutomerRate pt-3">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                    <h4 class="d-inline-block ms-3">Lindo</h4>
                </div>
                <p>Reviewed in the Mexico on 11 August 2023</p>
                <p class="purchase mb-0">Verified Purchase</p>
                <p>Bien hecho, bonita tela y bonita caída, fresco y casual.La marca lo dice!!</p>
                    <p class="text-muted">Report</p>
            </div>

            <div class="costumer3">
                <div class="profileImg">
                    <img class="rounded-circle d-inline-block" src="../../../assets/images/customer4.jpeg" alt="">
                    <h5 class="pat">Patricia Rodriguez</h5>
                </div>
                <div class="cutomerRate pt-3">
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                    <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                    <h4 class="d-inline-block ms-3">Comodidad</h4>
                </div>
                <p>Reviewed in the Unit State on 29 June 2023</p>
                <p class="purchase mb-0">Verified Purchase</p>
                <p>ES LINDO COMODO Y LIGERO PARA CLIMA CALIDO, ES LA TELA ADECUADA</p>
                    <p class="text-muted">Report</p>
            </div>
        </div>
    </section>

