<!-- sign up box -->
<div class="p-3">
  <div class="box m-auto">
    <h1 class="mb-3">Create Account</h1>
    <div class="from d-flex flex-column gap-4">
      <!-- name -->
      <!-- <span >name</span> -->
      <div class="nameInput">
        <label for="name">Your name</label>
        <input class="d-block" id="name" type="text">
      </div>
      <!-- name -->
      <!-- email -->
      <div class="emailInput">
        <label for="email">Email</label>
        <input class="d-block" id="email" type="text">
      </div>
      <!-- email -->
      <!-- password -->
      <div class="passInput">
        <label for="pass">Password</label>
        <input class="d-block" id="pass" type="text">
      </div>
      <!-- password -->
      <button class="btn">Register</button>
    </div>
    <div class="business mt-3">
      <h2 class="m-0 mb-2">Buying for work?</h2>
      <a href="">Create a free business account</a>
    </div>
    <div class="seperator w-100">
      <img src="assets/seperator.svg" alt="">
    </div>
    <div class="terms">
      <p class="pt-3 p1">Already have an account? <a href="" class="ms-1 position-relative">Sign in</a></p>
      <p class="pt-3 p2">By creating an account or logging in , you agree to Amazon’s <a href="">Conditions of Use</a>
        and <a href="">Privacy Notice.</a></p>
    </div>
  </div>
</div>
<!-- sign up box -->
