<!-- login box -->
   <div class="p-3">
    <div class="box m-auto">
        <h1 class="mb-3">Sign in</h1>
        <form [formGroup]="signInForm" (ngSubmit)="onsubmit()" class="from d-flex flex-column gap-4">

            <!-- email -->
            <div class="emailInput">
                <label for="email">Email</label>
                <input formControlName="email" class="d-block" id="email" type="text">
                <ng-template [ngIf]="signInForm.get('email')?.dirty && signInForm.get('email')?.getError('required')">
                  <p class="ms-1 fw-semibold mt-1"><i class="fa-solid fa-circle-xmark me-1 text-danger fs-6"></i>Email is required
                  </p>
                </ng-template>

                <ng-template [ngIf]="signInForm.get('email')?.dirty && signInForm.get('email')?.getError('email')">
                  <p class="ms-1 fw-semibold mt-1"><i class="fa-solid fa-circle-xmark me-1 text-danger fs-6"></i>Enter Valid Email</p>
                </ng-template>
            </div>
            <!-- email -->
            <!-- password -->
            <div class="passInput">
                <label for="pass">Password</label>
                <input formControlName="password" class="d-block" id="pass" type="password">
                <ng-template [ngIf]="signInForm.get('password')?.dirty && signInForm.get('password')?.getError('required')">
                  <p class="ms-1 fw-semibold mt-1"><i class="fa-solid fa-circle-xmark me-1 text-danger fs-6"></i>Password is required
                  </p>
                </ng-template>
            </div>
            <!-- password -->
            <!-- email exists -->
            <ng-template [ngIf]="error">
              <p class="ms-1 fw-semibold mt-1"><i class="fa-solid fa-circle-xmark me-1 text-danger fs-6"></i>Invalid Email or Password </p>
            </ng-template>
            <!-- email exists -->
            <button *ngIf="!isloading" type="submit" class="btn" [disabled]="signInForm.invalid">Sign In</button>
            <button *ngIf="isloading" class="btn loaderBtn">
              <div class="d-flex justify-content-center"><span class="loader"></span></div>
            </button>
        </form>
        <div class="terms">
            <p class="pt-4 p2">By creating an account or logging in , you agree to Amazon’s <a>Conditions of Use</a> and <a>Privacy Notice.</a></p>
            <a  class="m-4 position-relative help d-block">Need Help?</a>
        </div>
        <div class="business mt-3">
            <h2 class="m-0 mb-2">Buying for work?</h2>
            <a >Shop on Amazon Business</a>
        </div>
    </div>
    <div class="newAccount m-auto pt-4 pb-4">
        <div class="text text-center mb-4 position-relative"><span class="p-2">New to Amazon?</span></div>
        <button class="btn w-100 p-1"   (click)="navigateToRegister()">Create your Amazon account</button>
    </div>
   </div>
   <!-- login box -->
