<section>
  <!-- amazon Icon -->
  <div class="img m-auto">
    <img class="w-100 h-100" src="assets/amazon.svg" alt="">
  </div>
  <!-- amazon Icon -->
   <!-- child -->
   <router-outlet></router-outlet>
   <!-- child -->
    <!-- footer  -->
    <div class="footer pt-5">
      <div>
        <img class="w-100 h-100" src="assets/seperator2.svg" alt="">
      </div>
      <div class="text-center pt-5">
        <span><a class="me-4" href="">Conditions of Use</a> <a class="me-4" href="">Privacy Notice</a> <a class="me-4"
            href="">Help</a></span>
      </div>
      <p class="text-center">© 1996-2024, Amazon.com, Inc. or its affiliates</p>
    </div>
    <!-- footer  -->

</section>
