/* You can add global styles to this file, and also import other style files */

.add-to-card{
    width: 100px;
    height: 30px;
    padding: 6.93px 17.83px;
    border-radius: 19.81px;
    background-color: #FFCC00;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 11.89px;
    line-height: 15px;
    font-family: "Plus Jakarta Sans", sans-serif;
    cursor:pointer;
    margin-top:16.18px;
    transition: background-color 0.5s linear, color 0.5s linear;
}
.add-to-card:hover{
    color: #FFCC00;
    background-color: black;
}

::selection{
    background-color: #FFCC00;
    color:black;
  }

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #FFCC00;
}